.button-icon {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 6px;

  color: var(--subtext0);

  background-color: transparent;
  outline: none;
}

.button-icon:hover:not(:disabled) {
  background-color: var(--surface0);
}

.button-icon:disabled {
  cursor: not-allowed;
}
